@model ChatAppCoreMVC.Models.ChatData

<h1>Available users:</h1>

<ul>
    @foreach (string name in Model.Usernames)
    {
        <!--<li>
            <form class="users" onsubmit="@Url.Action("InitializeUserTo")">
                <input type="submit", value="@name"/>
            </form>
        </li>-->
        <!--<li>
            <button class="usersBtn" value="@name">@name</button>
        </li>-->
        <li>
            <a href="@Url.Action("User", new { nameTo = name})">@name</a>
        </li>
    }
</ul>

<a href="@Url.Action("Logout")">Log out</a>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<!--<script src="~/js/index.js"></script>-->